In [2]:
import pandas as pd

In [3]:
data = pd.read_csv(r'dataset/UFC.csv',sep=',',encoding='latin')

In [4]:
data

,matricula,sexo,codigo_inep,nome_curso,nome_unidade,forma_ingresso,ano_ingresso,periodo_ingresso,modalidade_considerada,status,ano_saida,periodo_saida
0,494679,M,1272079.0,CIÊNCIA DA COMPUTAÇÃO,CAMPUS DA UFC DE CRATEÚS,SELEÇÃO SISU,2020,1,L2,CANCELADO,2020,2
1,400857,M,1272079.0,CIÊNCIA DA COMPUTAÇÃO,CAMPUS DA UFC DE CRATEÚS,SELEÇÃO SISU,2017,1,L2,CANCELADO,2018,1
2,400945,M,1272079.0,CIÊNCIA DA COMPUTAÇÃO,CAMPUS DA UFC DE CRATEÚS,SELEÇÃO SISU,2017,1,L2,CANCELADO,2020,1
3,397504,M,1272079.0,CIÊNCIA DA COMPUTAÇÃO,CAMPUS DA UFC DE CRATEÚS,SELEÇÃO SISU,2017,1,L6,CANCELADO,2022,1
4,403967,M,1272079.0,CIÊNCIA DA COMPUTAÇÃO,CAMPUS DA UFC DE CRATEÚS,SELEÇÃO SISU,2017,1,AC,CANCELADO,2019,1
...,...,...,...,...,...,...,...,...,...,...,...,...
235121,275325,M,94359.0,TECNOLOGIA EM GESTÃO DE HOSPITAIS UNIVERSITÁRIOS,PRÓ - REITORIA DE GRADUAÇÃO,VESTIBULAR,2005,2,,CONCLUÍDO,2007,2
235122,275267,M,94359.0,TECNOLOGIA EM GESTÃO DE HOSPITAIS UNIVERSITÁRIOS,PRÓ - REITORIA DE GRADUAÇÃO,VESTIBULAR,2005,2,,CONCLUÍDO,2007,2
235123,275341,M,94359.0,TECNOLOGIA EM GESTÃO DE HOSPITAIS UNIVERSITÁRIOS,PRÓ - REITORIA DE GRADUAÇÃO,VESTIBULAR,2005,2,,CONCLUÍDO,2007,2
235124,275337,F,94359.0,TECNOLOGIA EM GESTÃO DE HOSPITAIS UNIVERSITÁRIOS,PRÓ - REITORIA DE GRADUAÇÃO,VESTIBULAR,2005,2,,CANCELADO,2008,1
235125,275297,M,94359.0,TECNOLOGIA EM GESTÃO DE HOSPITAIS UNIVERSITÁRIOS,PRÓ - REITORIA DE GRADUAÇÃO,VESTIBULAR,2005,2,,CONCLUÍDO,2007,2

In [5]:
data['nome_unidade'].value_counts().index.to_list()

['CENTRO DE CIÊNCIAS',
 'CENTRO DE HUMANIDADES',
 'CENTRO DE TECNOLOGIA',
 'FACULDADE DE ECONOMIA ADMINISTRAÇÃO ATUARIA E CONTABILIDADE',
 'CENTRO DE CIÊNCIAS AGRÁRIAS',
 'FACULDADE DE FARMÁCIA ODONTOLOGIA E ENFERMAGEM',
 'INSTITUTO UNIVERSIDADE VIRTUAL',
 'FACULDADE DE DIREITO',
 'INSTITUTO DE CULTURA E ARTE',
 'FACULDADE DE EDUCAÇÃO',
 'CAMPUS DA UFC EM SOBRAL',
 'FACULDADE DE MEDICINA',
 'CAMPUS DA UFC NO CARIRI',
 'CAMPUS DA UFC EM QUIXADÁ',
 'INSTITUTO DE EDUCAÇÃO FÍSICA E ESPORTES',
 'CAMPUS DA UFC DE RUSSAS',
 'CAMPUS DA UFC DE CRATEÚS',
 'INSTITUTO DE CIÊNCIAS DO MAR',
 'PRÓ - REITORIA DE GRADUAÇÃO',
 'CAMPUS DA UFC DE ITAPAJÉ',
 '_FACULDADE DE DIREITO - DIRETORIA']

In [6]:
DataS = data.loc[
    (data['ano_saida']=='2020') &
    (data['nome_unidade'] == 'CAMPUS DA UFC DE RUSSAS') &
    (data['status'] == 'CANCELADO')
    ]

DataS.groupby(
    by='nome_curso'
).count()

,matricula,sexo,codigo_inep,nome_unidade,forma_ingresso,ano_ingresso,periodo_ingresso,modalidade_considerada,status,ano_saida,periodo_saida
nome_curso,,,,,,,,,,,
CIÊNCIA DA COMPUTAÇÃO,64,64,64,64,64,64,64,64,64,64,64
ENGENHARIA CIVIL,32,32,32,32,32,32,32,32,32,32,32
ENGENHARIA DE PRODUÇÃO,28,28,28,28,28,28,28,28,28,28,28
ENGENHARIA DE SOFTWARE,56,56,56,56,56,56,56,56,56,56,56
ENGENHARIA MECÂNICA,28,28,28,28,28,28,28,28,28,28,28

In [7]:
DataS = data.loc[
    (data['ano_saida']=='2020') &
    (data['nome_unidade'] == 'CAMPUS DA UFC DE RUSSAS') &
    (data['status'] == 'CANCELADO')
    ]

DataS.groupby(
    by=['nome_curso','sexo']
).count().reset_index()

,nome_curso,sexo,matricula,codigo_inep,nome_unidade,forma_ingresso,ano_ingresso,periodo_ingresso,modalidade_considerada,status,ano_saida,periodo_saida
0,CIÊNCIA DA COMPUTAÇÃO,F,12,12,12,12,12,12,12,12,12,12
1,CIÊNCIA DA COMPUTAÇÃO,M,52,52,52,52,52,52,52,52,52,52
2,ENGENHARIA CIVIL,F,7,7,7,7,7,7,7,7,7,7
3,ENGENHARIA CIVIL,M,25,25,25,25,25,25,25,25,25,25
4,ENGENHARIA DE PRODUÇÃO,F,10,10,10,10,10,10,10,10,10,10
5,ENGENHARIA DE PRODUÇÃO,M,18,18,18,18,18,18,18,18,18,18
6,ENGENHARIA DE SOFTWARE,F,18,18,18,18,18,18,18,18,18,18
7,ENGENHARIA DE SOFTWARE,M,38,38,38,38,38,38,38,38,38,38
8,ENGENHARIA MECÂNICA,F,2,2,2,2,2,2,2,2,2,2
9,ENGENHARIA MECÂNICA,M,26,26,26,26,26,26,26,26,26,26

In [8]:
DataS = data.loc[
    (data['ano_saida']=='2020') &
    (data['nome_unidade'] == 'CAMPUS DA UFC DE RUSSAS') &
    (data['status'] == 'CANCELADO')
    ]

DataS.groupby(
    by=['nome_curso','sexo']
)['status'].count().reset_index()

               nome_curso sexo  status
0   CIÊNCIA DA COMPUTAÇÃO    F      12
1   CIÊNCIA DA COMPUTAÇÃO    M      52
2        ENGENHARIA CIVIL    F       7
3        ENGENHARIA CIVIL    M      25
4  ENGENHARIA DE PRODUÇÃO    F      10
5  ENGENHARIA DE PRODUÇÃO    M      18
6  ENGENHARIA DE SOFTWARE    F      18
7  ENGENHARIA DE SOFTWARE    M      38
8     ENGENHARIA MECÂNICA    F       2
9     ENGENHARIA MECÂNICA    M      26

In [9]:
datac = data.loc[(data['ano_saida']=='2020') &
        (data['nome_unidade'] == 'CAMPUS DA UFC DE RUSSAS') &
        (data['status'] == 'CANCELADO')]
datac = datac.groupby(
    by = ['nome_curso','forma_ingresso','modalidade_considerada']
)['status'].count().reset_index()
datac['modalidade_considerada'].loc[datac['modalidade_considerada'] == ' '] = 'Nenhuma'
datac

/tmp/ipykernel_6041/231384813.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datac['modalidade_considerada'].loc[datac['modalidade_considerada'] == ' '] = 'Nenhuma'

,nome_curso,forma_ingresso,modalidade_considerada,status
0,CIÊNCIA DA COMPUTAÇÃO,SELEÇÃO SISU,Nenhuma,7
1,CIÊNCIA DA COMPUTAÇÃO,SELEÇÃO SISU,AC,24
2,CIÊNCIA DA COMPUTAÇÃO,SELEÇÃO SISU,L1,5
3,CIÊNCIA DA COMPUTAÇÃO,SELEÇÃO SISU,L13,1
4,CIÊNCIA DA COMPUTAÇÃO,SELEÇÃO SISU,L2,12
5,CIÊNCIA DA COMPUTAÇÃO,SELEÇÃO SISU,L5,4
6,CIÊNCIA DA COMPUTAÇÃO,SELEÇÃO SISU,L6,9
7,CIÊNCIA DA COMPUTAÇÃO,SELEÇÃO SISU,L9,1
8,CIÊNCIA DA COMPUTAÇÃO,TRANSFERÊNCIA REGULAR,Nenhuma,1
9,ENGENHARIA CIVIL,SELEÇÃO SISU,Nenhuma,2
10,ENGENHARIA CIVIL,SELEÇÃO SISU,AC,16
11,ENGENHARIA CIVIL,SELEÇÃO SISU,L1,1
12,ENGENHARIA CIVIL,SELEÇÃO SISU,L2,6
13,ENGENHARIA CIVIL,SELEÇÃO SISU,L5,3
14,ENGENHARIA CIVIL,SELEÇÃO SISU,L6,4
15,ENGENHARIA DE PRODUÇÃO,SELEÇÃO SISU,Nenhuma,5
16,ENGENHARIA DE PRODUÇÃO,SELEÇÃO SISU,AC,13
17,ENGENHARIA DE PRODUÇÃO,SELEÇÃO SISU,L2,4
18,ENGENHARIA DE PRODUÇÃO,SELEÇÃO SISU,L6,6
19,ENGENHARIA DE SOFTWARE,SELEÇÃO SISU,Nenhuma,12
20,ENGENHARIA DE SOFTWARE,SELEÇÃO SISU,AC,19
21,ENGENHARIA DE SOFTWARE,SELEÇÃO SISU,L1,5
22,ENGENHARIA DE SOFTWARE,SELEÇÃO SISU,L10,1
23,ENGENHARIA DE SOFTWARE,SELEÇÃO SISU,L2,10
24,ENGENHARIA DE SOFTWARE,SELEÇÃO SISU,L5,2
25,ENGENHARIA DE SOFTWARE,SELEÇÃO SISU,L6,7
26,ENGENHARIA MECÂNICA,SELEÇÃO SISU,AC,16
27,ENGENHARIA MECÂNICA,SELEÇÃO SISU,L1,3
28,ENGENHARIA MECÂNICA,SELEÇÃO SISU,L2,3
29,ENGENHARIA MECÂNICA,SELEÇÃO SISU,L5,2
30,ENGENHARIA MECÂNICA,SELEÇÃO SISU,L6,4

In [10]:
data['modalidade_considerada'].value_counts()

modalidade_considerada
       191484
AC      21741
L2       7451
L6       7382
L1       3185
L5       2814
L14       346
L10       345
L13       199
L9        179
Name: count, dtype: int64

In [39]:
data.loc[
    (data['status']=='CANCELADO') &
    (data['ano_saida'] != ' ')
    ].groupby(by=['ano_saida','nome_unidade'])['status'].count().reset_index()

    ano_saida                                    nome_unidade  status
0        1971                            FACULDADE DE DIREITO       1
1        1972                              CENTRO DE CIÊNCIAS       1
2        1972                           CENTRO DE HUMANIDADES       1
3        1974  FACULDADE DE FARMÁCIA ODONTOLOGIA E ENFERMAGEM       1
4        1977                           CENTRO DE HUMANIDADES       1
..        ...                                             ...     ...
611      2023                           FACULDADE DE MEDICINA      40
612      2023                    INSTITUTO DE CIÊNCIAS DO MAR      26
613      2023                     INSTITUTO DE CULTURA E ARTE     190
614      2023         INSTITUTO DE EDUCAÇÃO FÍSICA E ESPORTES      78
615      2023                  INSTITUTO UNIVERSIDADE VIRTUAL     150

[616 rows x 3 columns]

2023-07-25 12:51:41.914
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /home/mateus/MEGA/Projetos/Dashboard-Streamlit/venv/lib/python3.11/site-packages/ipykernel_launcher.py [ARGUMENTS]