In [5]:
import pandas as pd

In [6]:
data = pd.read_csv(r'dataset/UFC.csv',sep=',',encoding='latin')

In [7]:
data

,matricula,sexo,codigo_inep,nome_curso,nome_unidade,forma_ingresso,ano_ingresso,periodo_ingresso,modalidade_considerada,status,ano_saida,periodo_saida
0,494679,M,1272079.0,CIÊNCIA DA COMPUTAÇÃO,CAMPUS DA UFC DE CRATEÚS,SELEÇÃO SISU,2020,1,L2,CANCELADO,2020,2
1,400857,M,1272079.0,CIÊNCIA DA COMPUTAÇÃO,CAMPUS DA UFC DE CRATEÚS,SELEÇÃO SISU,2017,1,L2,CANCELADO,2018,1
2,400945,M,1272079.0,CIÊNCIA DA COMPUTAÇÃO,CAMPUS DA UFC DE CRATEÚS,SELEÇÃO SISU,2017,1,L2,CANCELADO,2020,1
3,397504,M,1272079.0,CIÊNCIA DA COMPUTAÇÃO,CAMPUS DA UFC DE CRATEÚS,SELEÇÃO SISU,2017,1,L6,CANCELADO,2022,1
4,403967,M,1272079.0,CIÊNCIA DA COMPUTAÇÃO,CAMPUS DA UFC DE CRATEÚS,SELEÇÃO SISU,2017,1,AC,CANCELADO,2019,1
...,...,...,...,...,...,...,...,...,...,...,...,...
235121,275325,M,94359.0,TECNOLOGIA EM GESTÃO DE HOSPITAIS UNIVERSITÁRIOS,PRÓ - REITORIA DE GRADUAÇÃO,VESTIBULAR,2005,2,,CONCLUÍDO,2007,2
235122,275267,M,94359.0,TECNOLOGIA EM GESTÃO DE HOSPITAIS UNIVERSITÁRIOS,PRÓ - REITORIA DE GRADUAÇÃO,VESTIBULAR,2005,2,,CONCLUÍDO,2007,2
235123,275341,M,94359.0,TECNOLOGIA EM GESTÃO DE HOSPITAIS UNIVERSITÁRIOS,PRÓ - REITORIA DE GRADUAÇÃO,VESTIBULAR,2005,2,,CONCLUÍDO,2007,2
235124,275337,F,94359.0,TECNOLOGIA EM GESTÃO DE HOSPITAIS UNIVERSITÁRIOS,PRÓ - REITORIA DE GRADUAÇÃO,VESTIBULAR,2005,2,,CANCELADO,2008,1
235125,275297,M,94359.0,TECNOLOGIA EM GESTÃO DE HOSPITAIS UNIVERSITÁRIOS,PRÓ - REITORIA DE GRADUAÇÃO,VESTIBULAR,2005,2,,CONCLUÍDO,2007,2

In [9]:
data['nome_unidade'].value_counts().index.to_list()

['CENTRO DE CIÊNCIAS',
 'CENTRO DE HUMANIDADES',
 'CENTRO DE TECNOLOGIA',
 'FACULDADE DE ECONOMIA ADMINISTRAÇÃO ATUARIA E CONTABILIDADE',
 'CENTRO DE CIÊNCIAS AGRÁRIAS',
 'FACULDADE DE FARMÁCIA ODONTOLOGIA E ENFERMAGEM',
 'INSTITUTO UNIVERSIDADE VIRTUAL',
 'FACULDADE DE DIREITO',
 'INSTITUTO DE CULTURA E ARTE',
 'FACULDADE DE EDUCAÇÃO',
 'CAMPUS DA UFC EM SOBRAL',
 'FACULDADE DE MEDICINA',
 'CAMPUS DA UFC NO CARIRI',
 'CAMPUS DA UFC EM QUIXADÁ',
 'INSTITUTO DE EDUCAÇÃO FÍSICA E ESPORTES',
 'CAMPUS DA UFC DE RUSSAS',
 'CAMPUS DA UFC DE CRATEÚS',
 'INSTITUTO DE CIÊNCIAS DO MAR',
 'PRÓ - REITORIA DE GRADUAÇÃO',
 'CAMPUS DA UFC DE ITAPAJÉ',
 '_FACULDADE DE DIREITO - DIRETORIA']

In [10]:
DataS = data.loc[
    (data['ano_saida']=='2020') &
    (data['nome_unidade'] == 'CAMPUS DA UFC DE RUSSAS') &
    (data['status'] == 'CANCELADO')
    ]

DataS.groupby(
    by='nome_curso'
).count()

,matricula,sexo,codigo_inep,nome_unidade,forma_ingresso,ano_ingresso,periodo_ingresso,modalidade_considerada,status,ano_saida,periodo_saida
nome_curso,,,,,,,,,,,
CIÊNCIA DA COMPUTAÇÃO,64,64,64,64,64,64,64,64,64,64,64
ENGENHARIA CIVIL,32,32,32,32,32,32,32,32,32,32,32
ENGENHARIA DE PRODUÇÃO,28,28,28,28,28,28,28,28,28,28,28
ENGENHARIA DE SOFTWARE,56,56,56,56,56,56,56,56,56,56,56
ENGENHARIA MECÂNICA,28,28,28,28,28,28,28,28,28,28,28

In [11]:
DataS = data.loc[
    (data['ano_saida']=='2020') &
    (data['nome_unidade'] == 'CAMPUS DA UFC DE RUSSAS') &
    (data['status'] == 'CANCELADO')
    ]

DataS.groupby(
    by=['nome_curso','sexo']
).count().reset_index()

,nome_curso,sexo,matricula,codigo_inep,nome_unidade,forma_ingresso,ano_ingresso,periodo_ingresso,modalidade_considerada,status,ano_saida,periodo_saida
0,CIÊNCIA DA COMPUTAÇÃO,F,12,12,12,12,12,12,12,12,12,12
1,CIÊNCIA DA COMPUTAÇÃO,M,52,52,52,52,52,52,52,52,52,52
2,ENGENHARIA CIVIL,F,7,7,7,7,7,7,7,7,7,7
3,ENGENHARIA CIVIL,M,25,25,25,25,25,25,25,25,25,25
4,ENGENHARIA DE PRODUÇÃO,F,10,10,10,10,10,10,10,10,10,10
5,ENGENHARIA DE PRODUÇÃO,M,18,18,18,18,18,18,18,18,18,18
6,ENGENHARIA DE SOFTWARE,F,18,18,18,18,18,18,18,18,18,18
7,ENGENHARIA DE SOFTWARE,M,38,38,38,38,38,38,38,38,38,38
8,ENGENHARIA MECÂNICA,F,2,2,2,2,2,2,2,2,2,2
9,ENGENHARIA MECÂNICA,M,26,26,26,26,26,26,26,26,26,26

In [12]:
DataS = data.loc[
    (data['ano_saida']=='2020') &
    (data['nome_unidade'] == 'CAMPUS DA UFC DE RUSSAS') &
    (data['status'] == 'CANCELADO')
    ]

DataS.groupby(
    by=['nome_curso','sexo']
)['status'].count().reset_index()

               nome_curso sexo  status
0   CIÊNCIA DA COMPUTAÇÃO    F      12
1   CIÊNCIA DA COMPUTAÇÃO    M      52
2        ENGENHARIA CIVIL    F       7
3        ENGENHARIA CIVIL    M      25
4  ENGENHARIA DE PRODUÇÃO    F      10
5  ENGENHARIA DE PRODUÇÃO    M      18
6  ENGENHARIA DE SOFTWARE    F      18
7  ENGENHARIA DE SOFTWARE    M      38
8     ENGENHARIA MECÂNICA    F       2
9     ENGENHARIA MECÂNICA    M      26